.textFlex
  display flex
  flex-direction row
  //padding paddingValueHeight
  justify-content center

@media (max-width:600px)
  .textFlex
    display flex
    flex-direction column
    //padding paddingValueHeight
    padding 0px
    align-items center
    .textB
      padding 0px
      margin 0px
      width 100%