extends template
block variables
    -   var title = 'CSS Текст'
block content
    .imagesFlex
        include менюшка/imageB
        +createImageBlock("img/a66746dffc0f254aa724f8246a489bf5.jpeg", '33%')
        +createImageBlock("img/a66746dffc0f254aa724f8246a489bf5.jpeg", '33%')
        +createImageBlock("img/a66746dffc0f254aa724f8246a489bf5.jpeg", '33%')
    .textB
        p Модуль CSS-текст описывает функции CSS, которые управляют переводом исходного текста в форматированный и переносом строк. Различные свойства CSS обеспечивают контроль над преобразованием регистра, обработкой пробелов, правилами переноса и переносом текста и строк, выравниванием, интервалами и отступами.
    .textFlex
        .textB
            p Свойство tab-size используется для изменения величины отступа, получаемого с помощью клавиши ТAB. Значения свойства игнорируются, когда установлено одно из трёх значений pre-line, normal или nowrap свойства white-space.
        .textB
            p Когда содержимое на строчном уровне разбивается на строки, оно разбивается на линейные блоки. Такое разбиение называется разрыв строки. Когда строка прерывается из-за явных элементов управления разрывом строки, например, символа новой строки или тега <br>, начала или конца блока — это принудительный разрыв строки. Если строка обрывается из-за переноса содержимого, когда браузер создает необязательные разрывы строк, чтобы вписать содержимое — это мягкий перенос.